[submodule "server"]
	path = server
	url = git@github.com:topazdb/server.git
[submodule "api"]
	path = api
	url = git@github.com:topazdb/api.git
[submodule "gui"]
	path = gui
	url = git@github.com:topazdb/gui.git
